//vendors ?= webkit moz ms official
//vendors = official
@keyframes appear
  0%
    opacity:0
    tranform: scale(0)
  100%
    opacity:1
    transform: scale(1)

@keyframes pop
  0%
    transform: scale(1)
  50%
    transform: scale(1.2)
  100%
    transform: scale(1)

@keyframes fadeOutUp
  0%
    opacity 1
    transform translate(0, -100%)
  33%
    opacity 1
    transform translate(100%, -100%)

  100%
    opacity 0
    transform translate(100%, -400%)
